/* ---------------------------- 문의 파트를 전체 감싸는 영역 ---------------------------- */
.productInquiryWrap {
  // width: var(--container-width);
  // margin: 0 auto 96px auto;
  margin-top: 72px;
  margin-bottom: 96px;
  h2 {
    font-weight: 700;
    font-size: 28.43px;
    line-height: 140%;
    text-align: left;
  }
}

/* ---------------------- 문의 파트 상단 : 문의 파트 설명과 문의하기 버튼 ---------------------- */
.aboutInquiry {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 56px;
  justify-content: space-between;
  ul {
    margin-top: 24px;
  }
  li {
    font-weight: 600;
    font-size: 12.003px;
    line-height: 150%;
    color: var(--gray-500);
  }
  li::before{
    content: '•';
    padding: 0 8px;
  }
}

/* --------------------------------- 문의 테이블 --------------------------------- */
.inquiryTable {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  .inquiryTableHead { // 문의테이블 Head부분
    width: var(--container-width);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-width: 2px 0px 1px 0px;
    border-style: solid;
    border-color: var(--black);
  }
  .writingTitleHead {
    width: 750px;
    text-align: center;
    height: 58px;
    line-height: 58px;
  }
  .writerHead,
  .reportingDateHead,
  .answerStatusHead {
    width: 100px;
    text-align: center;
    height: 58px;
    line-height: 58px;
  }
  .noticeBadge {
    margin-right: 20px;
  }
}

/* ---------------------------------- 핸들 부분 --------------------------------- */
.handleDivWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: var(--container-width);
  border-bottom: 1px solid var(--gray-100);
  div:nth-child(1) {
    width: 750px;
    height: 58px;
    line-height: 58px;
    text-align: left;
    padding: 0px 20px;
  }
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4) {
    width: 100px;
    text-align: center;
    height: 58px;
    line-height: 58px;
  }
}

.writingTitle {
  font-weight: 600;
  color: var(--content);
}
.writer,
.reportingDate,
.answerStatus {
  color: var(--gray-400);
}
.reportingData {
  letter-spacing: 10px;
}
.panelDivWrapper {
  background: var(--gray-50);
  border-bottom: 1px solid var(--gray-100);
  padding: 20px;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: var(--content);
  span {
    font-weight: 800;
  }
}

/* --------------------------------- 페이지네이션 --------------------------------- */
.paginationContainer {
  margin-top: 16px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationPrev {
  border: none;
  width: 34px;
  height: 34px;
  background: url('@/assets/product-list/ic-pagination-prev.svg');
  margin-right: 16px;
}

.paginationNext {
  border: none;
  width: 34px;
  height: 34px;
  background: url('@/assets/product-list/ic-pagination-Next.svg');
}

.paginationNum {
  /* background-color: pink; */
  /* position: absolute; */
  position: relative;
  /* top: 0px; */
  width: 34px;
  height: 34px;
  border: 1px solid var(--gray-100);
  background-color: var(--white);
  color: var(--content);
  border-right: none;
}