.mainSwiper {
  position: relative;
  width: 1920px;
  height: 370px;

  .swiper {
    width: 100%;
    height: 100%;

    .swiperSlide {
      width: 100%;
      height: 100%;
    }
  }
  .swiperButton{
    width: 50px;
    height: 50px;
    background: url('@/assets/main/ic-banner-button.svg') 50% 50% / 100% ;
    position: absolute;
    top: 148px;
    z-index: 2;
    border: none;
    }

  .swiperPrevBtn {
    left: 350px;
  }

  .swiperNextBtn {
    transform: rotate(180deg);
    right: 350px;
  }
}
