.countButton {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.minus {
  background: url('@/assets/modal/ic-minus-disabled.svg') 50% 50% / 100%;
}

.plus {
  background: url('@/assets/modal/ic-plus-enabled.svg') 50% 50% / 100%;
}
