.ProductBox{
    max-width: 1050px;
    display: flex;
    margin: 0 auto;
    gap: 0 90px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    .ProductInner1{
        .ProductThumb{
            width: 400px;
            height: 513px;
        }
    }

    .ProductInner2{
        width: 560px;

        .ProductInnerDetail{
            .SubTitle{
                font-size: var(----text-lg);
                color: var(--gray-500);
                margin-bottom: 16px;
            }

            .ProductTitle{
                font-size: 28px;
                color: (--content);
                font-weight: 600;
                margin-bottom: 4px;
            }

            .ProductTitleInfo{
                font-size: var(--text-base);
                color: var(--gray-400);
                margin-bottom: 16px;
            }

            .ProductCost{
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                span:first-child{
                    font-size: 28px;
                    color: (--content);
                    font-weight: 600;
                }

                span:last-child{
                    font-size: var(--text-base);
                    color: (--content);
                    font-weight: 700;
                    margin-left: 4px;
                }
            }

            .InfoText{
                font-size: var(--text-base);
                color: var(--primary);
                font-weight: 600;
                margin-bottom: 20px;
            }


        }

        ul{
            border-top: 1px solid var(--gray-100);
            li{
                padding: 16px 0;
                border-bottom: 1px solid var(--gray-100);
                display: flex;
                color: var(--gray-500);
                font-size: var(--spacing-sm);

                .ListTitle{
                    font-weight: 600;
                    min-width: 128px;
                }
                .ListContent{
                    .ListContentTitle{
                       font-weight: 500;
                       margin-bottom: 4px;
                    }
                }

                .ListContentBox{
                    width: 100%;
                    border: 1px solid #E1E1E1;

                    .CountProduct{
                        padding: 12px 16px;

                        .ListContentTitle{
                            margin-bottom: 12px;
                        }

                        .CountQuantity{
                            display: inline-flex;
                            justify-content: space-between;
                            width: 100%;
                            align-items: center;
                            p{
                                font-size: var(--text-xs);
                                color: var(--content);

                            }
                        }
                    }

                }
            }
        }

        .TotalPrice{
            padding: 28px 0;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            
            .TotalPriceDetail{
                font-size: var(--text-base);
                font-weight: 600;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                span{
                    font-size: 28px;
                    padding-left: 17px;
                    padding-right: 5px;
                }
            }

            .TotalPriceInfo{
                font-size: var(--text-base);
                display: flex;
                align-items: center;

                span{
                    border-radius: 12px;
                    background-color: #fa622f;
                    font-size: 10px;
                    color: var(--white);
                    padding: 4px 8px;
                    margin-right: 6px;
                }
            }
        }

        .ButtonGroup{
            display: flex;
            justify-content: space-between;
            gap: 12px;
            .ButtonLike{
                display: block;
                width: 56px;
                height: 56px;
            }

            .ButtonNotice{
                display: block;
                width: 56px;
                height: 56px;
            }

            .ButtonCart{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                width: 424px;
                height: 54px;
                background-color: var(--primary);
                border-radius: 4px;
            }
        }

    }

}

.ProductDetail{
    text-align: center;
    max-width: 1050px;
    margin: 0 auto;
    
    // ul{
    //     display: flex;
    //     flex-wrap: wrap;
    //     height: 60px;

    //     li{
    //         display: flex;
    //         flex: 1 1 0%;
    //         border-width: 1px 0px 1px 1px;
    //         border-color: rgb(238, 238, 238);
    //         border-style: solid;
    //         background-color: rgb(250, 250, 250);

    //         button{
    //             display: flex;
    //             flex: 1 1 0%;
    //             -webkit-box-pack: center;
    //             justify-content: center;
    //             -webkit-box-align: center;
    //             align-items: center;
    //             height: 100%;
    //             font-size: 16px;
    //             font-weight: 500;
    //             color: rgb(102, 102, 102);
    //             background: transparent;
    //             border: none;
                
    //             span{
    //                 margin-left: 4px;
    //                 font-size: 12px;
    //                 font-weight: 400;
    //                 color: rgb(153, 153, 153);
    //                 line-height: 16px; 
    //             }

                
    //         }
    //         .Active{
    //                 background-color: var(--white);
    //             }
    //     }
    // }


    .ProductDetailInner{
        padding: 40px 0; 

        .GoodsIntro{
            margin-bottom: 96px;
            
            img{
                margin-bottom: 78px;
                width: 100%;
            }

            .GoodsTitle{
                span{
                    font-size: 28px;
                    display: block;
                    font-weight: 600;
                }

                font-size: 50px;
                color: var(--content);
                font-weight: 700;
                text-align: center;
                margin-bottom: 36px;
            }

            .GoodsDescription{
                font-size: var(--text-base);
                font-weight: 400;
                line-height: 150%;
                padding-top: 28px;
                border-top: 1px solid #e1e1e1;
            }
        }

        .GoodsPoint{
            img{
                
                margin: 0 auto;
                margin-bottom: 100px;
            }

            h3{
                font-size: 50px;
                font-weight: 700;
                display: inline-block;
                position: relative;
                z-index: 10;
                width: 100%;
                margin-bottom: 70px;
            }

            span{
                position: relative;
                z-index: 10;
                display: inline-block;
                margin-left: 260px;
                padding: 0px 15px;
                background: rgb(255, 255, 255);
                text-shadow: 2px 0px;
            }

            h3::before{
                content: " ";
                position: absolute;
                z-index: 1;
                top: 28px;
                width: 100%;
                height: 1px;
                background: rgb(185, 185, 185);
            }

        }
    }
}