.container {
  display: flex;
  align-items: center;
  padding: 10px 0 20px 0;
}

.navFilterButton {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--gray-300);
  background: transparent;
  border: none;
}
