.paginationContainer {
  position: relative;
  margin-left: calc(100% - 700px);
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationPrev {
  border: none;
  width: 34px;
  height: 34px;
  background: url('@/assets/product-list/ic-pagination-prev.svg');
}

.paginationNext {
  border: none;
  width: 34px;
  height: 34px;
  background: url('@/assets/product-list/ic-pagination-Next.svg');
}

.paginationNum {
  /* background-color: pink; */
  /* position: absolute; */
  position: relative;
  /* top: 0px; */
  width: 34px;
  height: 34px;
  border: 1px solid var(--gray-100);
  background-color: var(--white);
  color: var(--content);
  border-right: none;
}
