.container {
  position: relative;
  margin-bottom: 100px;
}

.innerContainer {
  width: 1050px;
  margin: 0px auto;
}

.productCardsWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  /* grid-template-rows: 538px 538px;  */
}
.productListTitle {
  margin-top: 80px;
  margin-bottom: 44px;
  text-align: center;
  font-size: var(--text-xxl);
  font-weight: 500;
}

.product {
  position: relative;
  width: 1024px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
}

.productExText {
  font-size: var(--text-sm);
}

.sortButtonContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.totalRenderNum {
  margin-right: auto;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.productListBanner {
  height: 400px;
}

.hasNotFountPageContainer {
  display: flex;
  flex-direction: column;
  width: 900px;
  align-items: center;
  padding: 200px 0;
}

.hasNotFountPageText {
  color: var(--gray-300);
  margin-top: 16px;
  margin-bottom: 16px;
}

.hasNotFountPageButton {
  width: 127px;
  height: 40px;
  display: flex;
  gap: 8px;
  background: var(--primary);
  align-items: center;
  padding: 12px 20px;
  border-radius: 22px;
  color: var(--white);
}

.hasNotFountPageButtonText {
  font-size: var(--text-sm);
}
