.container {
  position: relative;
  margin-bottom: 100px;
}

.innerContainer {
  width: 1050px;
  margin: 0px auto;
}

.productCardsWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  /* grid-template-rows: 538px 538px;  */
}
.productListTitle {
  margin-top: 80px;
  margin-bottom: 44px;
  text-align: center;
  font-size: var(--text-xxl);
  font-weight: 500;
}

.product {
  position: relative;
  width: 1024px;
  display: flex;
  /* gap: 30px; */
  margin-top: 50px;
  margin-bottom: 60px;
}

.productExText {
  font-size: var(--text-sm);
}

.sortButtonContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.totalRenderNum {
  margin-right: auto;
  background: transparent;
  /* color: var(--gray-300); */
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.productListBanner {
  display: block;
  width: 100%;
  height: 400px;
  background: url('../../assets/product-list/product-list-banner.png') no-repeat;
}
