.inputContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  padding-left: 12px;
  transition: all 250ms;
}

.navMenuUlList input[type='checkbox'] {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  appearance: none;
  background: url('@/assets/cart/ic-checked-false.svg') no-repeat 0/18px;
}

.navMenuUlList input[type='checkbox']:checked {
  background: url('@/assets/cart/ic-checked-true.svg') no-repeat 0/18px;
}

.ulListCount {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--gray-200);
  padding-right: 10px;
}

.productExText {
  padding-right: 8px;
  font-size: var(--text-sm);
  flex-grow: 1;
}
