.cart {
  margin: 0 auto;
  width: var(--container-width);
  padding-bottom: 40px;

  .title {
    margin: 80px 0 44px 0;
  }

  .orderBtn {
    width: 284px;
    height: 44px;
    margin: 16px 0;
  }
}
