/* ------------------------------ placeHolder관련 ----------------------------- */
.placeHolder::-webkit-scrollbar{
	/*  스크롤바 막대 너비 설정 */
    width: 12px;
}
/* 스크롤바 막대 설정*/
.placeHolder::-webkit-scrollbar-thumb{
  /* 스크롤바 막대 높이 설정    */
    height: 17%;
    background-color: gray;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;  
    background-clip: padding-box;
    border: 2px solid transparent;  
}
/* 스크롤바 뒷 배경 설정*/
.placeHolder::-webkit-scrollbar-track{
  background-color: lightgray;
}
.placeHolder {
  color: var(--gray-400);
  padding: 15px;
  overflow-y: auto; 
  padding: 15px 15px 32px;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  li, p, .placeHolderIntro {
    font-weight: 400;
    font-size: 12.003px;
    line-height: 160%;
    text-indent: 0px;
  }
  p {
    margin-left: 9px;
    color: rgb(240, 63, 64);
  }
  li::before {
    content: '•';
    margin-right: 7px;
    margin-left: 9px;
  }
}
.placeHolder>div {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
}