
.SubpageTitle{
  font-size: var(--text-lg);
  color: var(--black);
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
  // ------------------------------------
  margin-top: 0;
}

.productReviewAndInquiry{
  text-align: left;
  font-size: var(--text-xxl);
  font-weight: 700;
  line-height: var(--spacing-xxl);
}