.markLayout {
  margin-top: var(--spacing-xs);

  .mark {
    padding: 4px;
    margin-right: 8px;
    background: var(--gray-100);
    font-size: var(--text-xs);
    font-weight: 700;
  }

  .karlyOnly {
    color: var(--primary);
  }
}
