/* ---------------------------------- 핸들 부분 --------------------------------- */
.handleDivWrapper {
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: var(--container-width);
  border: 0;
  border-bottom: 1px solid var(--gray-100);
  padding: 0;
  margin: 0;
  div:nth-child(1) {
    width: 750px;
    height: 58px;
    line-height: 58px;
    text-align: left;
    padding: 0px 20px;
  }
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4) {
    width: 100px;
    text-align: center;
    height: 58px;
    line-height: 58px;
  }
}

.writingTitle {
  font-weight: 600;
  color: var(--content);
  // 추가
  display: flex;
  align-items: center;
}
.writer,
.reportingDate,
.answerStatus {
  color: var(--gray-400);
}

/* ----------------------------------- 패널 ----------------------------------- */
.panelDivWrapper {
  background: var(--gray-50);
  border-bottom: 1px solid var(--gray-100);
  padding: 20px;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: var(--content);
}
.question,
.answer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 12px;
}
.answer {
  margin-top: 40px;
}

/* --------------------------------- 비밀글 -------------------------------- */
.secretText {
  color: var(--gray-400);
}
.secretIcon {
  margin-left: 10px;
}