.RadioButtonBox{

  display: flex;
  align-items: center;

  .RadioButton[type="radio"]{
    width: 24px;
    height: 24px;
    appearance: none;
    border-radius: 50%;
    border: 1px solid var(--gray-200);
    

  }

  .RadioButton[type="radio"]:checked{
    border: 1px solid var(--primary);
    background: var(--primary);
    position: relative;
  }  

  .RadioButton.primary[type="radio"]:checked::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--gray-200);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }    

  .RadioButton.secondary[type="radio"]{
    width: 24px;
    height: 24px;
    background: url('@/assets/common/ic-check.svg') center -8px no-repeat;
    border: 0;
  }      

  .RadioButton.secondary[type="radio"]:checked::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('@/assets/common/ic-check.svg') center -40px no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }    


  span{
    font-size: var(--text-base);
    padding-left: 8px;
    font-weight: 600;    
    
  }
}
