.AddressSearchInput {
  width: 330px;
}

.AddressInfo {
  font-size: var(--text-xs);
  color: var(--black);
  margin-top: 4px;
}

.addressButton {
  width: 244px;
  height: 44px;
}

.addressModal {
  background: salmon;
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}
