.Handle {
  width: 742px;
  height: 62px;
  display: flex;
  align-items: center;
  font-weight: 600;

  .cartListImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
}
