/* --------------------------------- 비밀글 체크 --------------------------------- */
.secretCheckBox {
  height : 58px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 101px;
  input:focus {
    outline: 4px solid black;
    border-radius: 2px;
  }
  input[type="checkbox"]+label {
    display: flex;
    align-items: center;
    height: 24px;
    background: url('../../../assets/product-detail/secret-checked-false.svg') no-repeat 0 0px / contain;
  }
  input[type='checkbox']:checked+label {
    background: url('../../../assets/product-detail/secret-checked-true.svg') no-repeat 0 0px / contain;
  }
  input[type="checkbox"] {
    //display: none;
    appearance: none; // 체크박스 input요소의 기본 UI가 보이지 않게 하기
    position: absolute; //input요소가 영역을 차지하지 않게끔 붕 띄우기
    padding: 12px;
  }
  span {
    font-weight: 400;
    font-size: 12.003px;
    line-height: 160%;
    display: inline-block;
    line-height: 24px;
    padding-left: 32px;
  }
}