.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pageTitle {
  margin-bottom: 44px;
}

.form {
  display: flex;
  gap: 12px;
  flex-flow: column;
  align-items: center;
}

.button{
  display: flex;
  gap: 12px;
  flex-flow: column;
  align-items: center;
}