.header {
  position: relative;
  width: 1050px;
  margin: 0px auto;
  letter-spacing: -0.3px;
}
.headerInner {
  width: var(--container-width);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

.headerMain {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 5.9375rem;
}
