.priceInfo {
  background: var(--gray-50);
  width: 284px;
  padding: 20px;

  .priceLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    margin-bottom: 16px;
  }

  .line {
    width: 100%;
    border-top: 1px solid var(--gray-100);
    margin-bottom: 16px;
  }

  .totalPaymentPrice {
    font-size: 20px;
    font-weight: 600;
  }

  .pointLayout {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
