
/* ------------------------------- 큰 틀 Wrapper ------------------------------ */
/* .footerWrap {
  width: 1050px;
  margin: 0 auto;
} */
.footerInformationWrap {
  background-color: antiquewhite;
}
.footerAllianceWrap {
  background-color: aquamarine;
  width: 1050px;
  margin: 0 auto;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 24px 0 32px;
  border-top: 1px solid var(--gray-100);
}
.footerCopyrightWrap {
  background-color: #F9F9F9;
  width: 100%;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  text-align: center;
  color: #898989;
  padding: 20px 4px 32px 4px;
}

/* -------------------------- footerAllianceWrap 부분 ------------------------- */
.allianceBtn {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  appearance: button;
  line-height: 16px;
  text-align: left;
  gap: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.img1 {
  width: 34px;
  height: 34px;
  text-align: center;
}

/* ------------------------- .footerCopyrightWrap 부분 ------------------------ */
.copyrightEnglishText {
  margin-top: 8px;
}

