.cartModal {
  background: salmon;
  display: block;
  height: 292px;
  width: 396px;
  border-radius: 16px;
  background: #fff;
  justify-content: center;
  padding: 24px 20px 24px 20px;
  flex-direction: column;
  transition: all 400ms;

  .info {
    width: 356px;
    height: 66px;
    margin-bottom: 28px;
    position: relative;
    font-weight: 700;
    font-size: var(--text-base);

    .title {
      position: absolute;
      top: 0;
      left: 0;
    }

    .priceLayout {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(-50%);
      line-height: 16px;

      .price {
        font-size: 16px;
        margin-right: 4px;
      }

      .sale {
        font-size: 14px;
        text-decoration: line-through;
        color: var(--gray-400);
      }
    }

    .couterLayout{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .totalPrice {
    width: 356px;
    height: 66px;
    margin-bottom: 28px;
    position: relative;

    .priceLayout1 {
      height: 40px;
      margin-bottom: 4px;
      position: relative;

      .total {
        position: absolute;
        bottom: 4px;
        left: 0;
        font-weight: 700;
      }
    }

    .priceLayout3 {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;

      

      .accumulate {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .buttonLayout {
    width: 356px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
}
