.mark {
        width: 37px;
        height: 18px;
        background: var(--accent-yellow);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        margin-right: 12px;
      }