.BirthInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 44px;
  border: 1px solid var(--gray-300);
  display: flex;
  // flex-direction: column;

  span {
    padding: 0 4px;
    color: var(--gray-400);
  }

  input {
    text-align: center;
    border: 0;
  }

  input:first-child {
    width: 50px;
  }

  input:nth-child(3) {
    width: 50px;
  }

  input:nth-child(5) {
    width: 50px;
  }
}

.inputLayout {
  display: flex;
  flex-direction: column;

  .validationPhrases {
    font-weight: 500;
    margin-top: 8px;
    font-size: 14px;
    color: var(--accent-yellow);
  }
}
