.SignUp {
  padding-bottom: 120px;

  .MarginTopBottom {
    margin-top: 80px;
    margin-bottom: 44px;
  }

  // .RadioButtonBundle {
  //   display: flex;
  //   justify-content: space-between;
  //   width: 330px;
  //   height: 44px;
  //   align-items: center;
  // }
}

.SignUpPage {
  position: relative;
  width: 640px;
  border-top: 2px solid var(--content);
  margin: 0 auto;
}

.MustInputText {
  position: absolute;
  right: 0;
  top: -26px;
  font-size: var(--text-xs);
  color: var(--content);
  font-weight: 600;
}

.MustInputText::before {
  content: '*';
  color: var(--info-error);
  position: absolute;
  font-size: var(--text-base);
  position: absolute;
  top: -6px;
  left: -9px;
}

.FormField {
  .inputLayout {
    display: flex;
    flex-direction: column;

    .validationPhrases {
      font-weight: 500;
      margin-top: 8px;
      font-size: 14px;
      color: var(--accent-yellow);
    }
  }
}

.Button {
  width: 100%;
  text-align: center;
  padding-top: 28px;
}
