.Agreement {
  display: flex;
  border-top: 1px solid var(--gray-400);
  padding-top: 28px;

  .SubTitle {
    width: 148px;
    text-align: left;
    font-weight: 600;

    p {
      position: relative;
      display: inline-block;
    }

    p::before {
      content: '*';
      color: var(--info-error);
      font-size: var(--text-base);
      position: absolute;
      top: -6px;
      right: -10px;
    }
  }
  .AllSelectList {
    margin-bottom: 28px;

    .AllAgreeLayout {
      display: flex;
      flex-direction: column;
      align-items: center;

      .AllAgreeTitle {
        font-size: var(--text-lg);
        font-weight: 600;
        position: relative;
        width: 460px;
      }

      .AllAgreeSubText {
        font-size: var(--text-xs);
        color: var(--gray-400);
        padding-top: 5px;
        position: absolute;
      }
    }
  }

  .AgreeSelectList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;

    span {
      font-weight: 500;
      font-size: 14px;

      padding: 0;
    }

    p {
      font-size: var(--text-xs);
      color: var(--primary);
    }

    div {
      display: flex;
      align-items: center;

      img {
        margin-left: 4px;
      }
    }
  }
}
