.accordion {
  width: 100px;
  height: 100px;
  background: #000;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.handleButton {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  display: block;
  position: relative;
}

.Handle {
  width: 742px;
  height: 62px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.panel {
  width: 742px;
  height: 400px;
}

.cartListImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.arrowDown {
  width: 12px;
  height: 12px;
  background: url('@/assets/product-list/ic-arrow-down.svg') 50% 50% / 100%
    no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.arrowUp {
  width: 12px;
  height: 12px;
  background: url('@/assets/product-list/ic-arrow-down.svg') 50% 50% / 100%
    no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(180deg);
}

.accordionLine {
  height: 1px;
  background: #000;
}

