.headerNavProductList {
  /* background: pink; */
}

.headerNavProductList button {
  border: none;
  background-color: transparent;
  color: var(--content);
  font-weight: 600;
  /* padding: var(--spacing-xs); */
  display: inline-block;
}

.headerNavDropdown {
  /* padding: var(--spacing-base) 0; */
  padding: 24px 16px;
}

.headerNavHamburger {
  transform: translateY(1px);
  margin-right: var(--spacing-xs);
}

.NavSubMenu {
  position: absolute;
  top: 66px;
  flex-flow: column nowrap;
  background: var(--white);
  font-size: 0.875rem;
  z-index: 100;
  width: 15.4375rem;
  /* display: none; */
}

.NavSubMenu li {
  /* border: 1px solid #000; */
  width: 100%;
  padding-left: 0.25rem;
}

.NavSubMenu img {
  margin-right: 0.25rem;
}
.NavSubMenu a {
  padding: var(--spacing-xs);
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-weight: 600;
  font-size: var(--text-base);
}
.NavSubMenu li:hover {
  background-color: var(--gray-100);
}
.NavSubMenu li:hover a {
  color: var(--primary);
}

.test01 img {
  width: 24px;
  height: 24px;
}
